
/*section class    */
.two-column {
  display: inline-block;
  width: calc(100% / 3);
  margin: 5% 0;
  margin-left: calc((100% / 3) /3);
}

/*id of left    */
#left-side {
  max-width: 100px;
  align-content: left-side;
}

#right-side {
  max-width: 10px;
  align-content: right-side;
}
